/* Oefening 1 Uitlijning */
.links {
    text-align: left;
}
.midden {
    text-align: center;
}
.rechts {
    text-align: right;
}
/* Oefening 2 Decoratie */
.onder {
    text-decoration: underline;
}
.door {
    text-decoration: line-through;
}
/* Oefening 3 Tekst-insprong */
.insprong1 {
    text-indent: 40px;
}
.insprong2 {
    text-indent: 10%;
}
/* Oefening 4 Boven- en onderkast */
.kast1 {
    text-transform: uppercase;
}
.kast2 {
    text-transform: lowercase;
}
.kast3 {
    text-transform: capitalize
}